body{
    background-image: url(../src/Images/BackGroungImage.jpeg);
}
/* Navbar start */

.Logo{
    width: auto;
    height: 93px;
    margin: -4px 0px 0px 20px;
}

.NAVBARFONT{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: 17%;
}

.NAVBARFONT:hover{
    text-decoration: underline;
}

.Navbar{
    position: absolute;
}

/* Navbar end */

/* Main background start */


.bgImage{
    height: auto;
    width: 85%;
    margin-bottom: 16%;
    margin-top: 20%;
    margin-left: 7%;
    border: 22px solid black;
}

.BackgroundHeading{
    font-family: 'Playfair Display', serif;
    margin: 13% 0% 0% 0%;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.1;
}

.MainButton{
    margin-top: 10%;
}

/* Main background end */

/* service start */

.outterContainor{
    display: flex;
  
}

.cardContainor{
    font-family: 'Playfair Display', serif;
    height: 500px;
    width: 109%;
    text-align: center;
    padding: 6% 0% 6% 0%;
    border-radius: 1%;
    margin: 3%;
    margin-top: 17%;
}

.CardHeading{
    font-family: 'Playfair Display', serif;
    text-align: center;
     margin: 3% 0% 3% 0%;
}

.cardImage{
    border: 5px solid #da7f8f;
    width: auto;
    height: 287px;
    border-radius: 17%;
}

.cardImage:hover{
    transform: scale(1.5,1.5);
}

.uppr{
    align-items: center;
}

.lower{
    margin-top: 6%;
}


/* service end */

/* Gallrey start */
/* Gallrey end */

/* About artist start */

.BgImageArtist{
    width: 95%;
    /* height: "565px"; */
    margin: 5%;
    position: relative;
    border-radius: 6%;
}

.ImageArtist{
    width: 71%;
    position: absolute;
    bottom: 10%;
    left: 17%;
}

@media (min-width:280px){
   .BgImageArtist{
    height: 280px;
   }
}
@media (min-width:760px) and (max-width:999px){
   .BgImageArtist{
    height: 718px;
   }
}

@media (min-width:1000px) and (max-width:1024px){
   .BgImageArtist{
    height: 482px;

   }
}

@media (min-width:1025px){
   .BgImageArtist{
    height: 540px;

   }
}

@media (min-width:300px) and (max-width:400px){
   .BgImageArtist{
    height: 382px;
   }
}

@media (min-width:400px) and (max-width:500px){
   .BgImageArtist{
    height: 423px;
   }
}

/* About artist end */

/* Contact section start */

.Myform{
    width: 86%;
    /* align-items: center; */
    /* margin: 2% 0% 2% 32%; */
    margin: auto;
    box-shadow: 5px 10px 18px #888888;
    padding: 2%;
}

.fromOutterCon{
    padding: 2%;
}

/* Contact section end */
