body{
    background-image: url(../src/Images/BackGroungImage.jpeg);
}
/* Navbar start */

.Logo{
    width: auto;
    height: 93px;
    margin: -4px 0px 0px 20px;
}

.NAVBARFONT{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: 17%;
}

.NAVBARFONT:hover{
    text-decoration: underline;
}

.Navbar{
    position: absolute;
}

/* Navbar end */

/* Main background start */


.bgImage{
    height: auto;
    width: 85%;
    margin-bottom: 16%;
    margin-top: 20%;
    margin-left: 7%;
    border: 22px solid black;
}

.BackgroundHeading{
    font-family: 'Playfair Display', serif;
    margin: 13% 0% 0% 0%;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.1;
}

.MainButton{
    margin-top: 10%;
}

/* Main background end */

/* service start */

.outterContainor{
    display: flex;
  
}

.cardContainor{
    height: 500px;
    width: 109%;
    text-align: center;
    padding: 6% 0% 6% 0%;
    border-radius: 1%;
    margin: 3%;
}

.cardContainor:hover{
    box-shadow: 5px 10px 18px #888888;
}

.CardHeading{
    text-align: center;
     margin: 3% 0% 3% 0%;
}

.cardImage{
    width: auto;
    height: 287px;
    border-radius: 17%;
}

.lower{
    margin-top: 6%;
}


/* service end */
